@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Lato', sans-serif;
}

#modal-background{
    @apply absolute z-30 bg-black bg-opacity-80 h-screen w-screen flex items-center justify-center text-white hidden
}


:root {
    --main-bg-color: brown;
    --main-link-color: green;
}

/* NAV   */

nav {
    @apply hidden lg:fixed lg:relative w-full bg-zinc-800 z-50 lg:flex-row lg:flex-grow pb-4 md:pb-0 flex md:justify-end flex-col lg:h-40  text-white
}

.nav-toggle{
    @apply lg:hidden h-16 bg-zinc-800 flex -mb-3 flex-row-reverse items-center pr-5 pb-2
}

.nav-item{
    @apply  lg:flex group-hover:bg-green-500 flex-row items-center h-full w-full px-4 py-4 mt-2 text-base font-bold text-left uppercase bg-transparent  md:w-auto md:mt-0 md:ml-4 focus:outline-none hover:bg-green-600
}

.sub-menu{
    @apply block hidden ml-4 lg:absolute z-10 hidden group-hover:block lg:group-hover:bg-green-600
}    

nav .ref {
    @apply px-2 py-2
}
nav .ref:hover{
    @apply bg-green-800
}

.logo{
    @apply flex px-2 left-5 top-2 w-[200px] absolute hidden lg:block;
}

.menu-item-wrapper{
    @apply p-5 h-full hover:bg-green-700 hover:bg-opacity-70 items-center align-middle flex 
}

.menu-item-wrapper2{
    @apply p-5 h-full items-center align-middle flex text-white
}

.menu-item{
    @apply px-2 text-white font-semibold hover:text-slate-200 transition duration-300 font-bold
}

/* Footer */
#footer {
    @apply bg-zinc-800
}

.footer-content{
    @apply grid lg:grid-cols-3 lg:w-[75%]
}

#footer h2{
    @apply text-xl font-bold text-white
}
#footer a{
    @apply text-green-500 hover:underline
}
.copyright{
    @apply border-t border-green-500 p-4 bg-zinc-900 text-zinc-400 font-bold
}


.m{
    @apply p-12 md:p-6
}
.m h1{
    @apply font-extrabold text-xl mb-3
}
.m1{
    background-color:#053218;
}
.m2{
    background-color: #27724b;
}
.m3{
    background-color: rgb(106, 157, 120);
}

.icon-big{
    @apply md:p-6 p-6 border-2 border-white text-white text-2xl rounded-full
}

.content{
    @apply w-[75%] py-20 sm:w-full;
    font-family: 'Lato', sans-serif;
}

.content-wrapper{
    @apply  text-black flex w-full justify-center  sm:w-full
}

.team-header{
    @apply relative flex  h-[40rem] justify-center bg-cover  
}

.team-header .dark{
    @apply absolute bg-black bg-opacity-60 h-full w-full 
}

.team-image-wrapper{
    @apply grid lg:grid-cols-5 grid-cols-1 lg:gap-3 w-full max-w-full bg-gray-500 justify-between px-5
}

.team-header-content{
    @apply p-20 text-white flex justify-center
}

.team-header-content-grid{
    @apply lg:w-[70%] z-20 
}

.team-header-content-grid div h1{
    @apply text-7xl text-white font-bold
}

.team-header-content-grid .icon-wrapper{
    @apply px-1 py-2
}

.team-header-content-grid div .icon {
    @apply fa-solid text-green-500 mr-2
}

.whatwedo-wrapper{
    @apply lg:w-[75%] flex justify-center md:w-full mb-10 sm:w-full 
}

.whatwedo{
    @apply grid grid-cols-1 mt-10 w-full  lg:grid-cols-4 lg:w-[70%] lg:gap-1
}

.whatwedo h2{
    @apply text-3xl font-bold mb-3
}

.whatwedo h5{
    @apply text-2xl font-bold mb-3 text-green-500
}

.whatwedo .row1{
    @apply lg:col-span-2 p-10 col-span-1
}    

.tt .h1{
    @apply text-5xl font-bold mb-10
}

.tt .h2{
    @apply text-2xl font-bold mb-3
}

.tt h3{
    @apply text-green-500
}

.training-times, .coachbox{
    @apply lg:border border-slate-500 p-10 mt-10 h-fit lg:shadow-2xl 
}
.coachbox-wrapper {
    @apply  h-fit lg:px-4
}

.training-times .day{
    @apply text-lg font-bold ml-1
}


.content h1{
    @apply text-3xl font-bold mb-5
}

.content h2{
    @apply text-2xl font-bold mb-3
}

.content h3{
    @apply text-2xl font-bold mb-3 mt-3
}

.content h4{
    @apply text-xl font-bold my-2
}

.content h5{
    @apply text-xl font-bold mb-3 mt-3
}

.content-wrapper-center{
    @apply flex items-center w-full text-black bg-white border border-green-500
}


.p {
    @apply p1 h-96 flex justify-center items-center text-center align-middle text-2xl brightness-50 font-extrabold text-white duration-300;
}

.p:hover{
    @apply brightness-100 scale-110
}

.p1{
    background-image: url(../../public/img/peewees3-705x609.jpg);
}

.p2{
    background-image: url(../../public/img/slider2-705x470.jpg);
}

.p3{
    background-image: url(../../public/img/cheer_schleife1-705x441.jpg);
}

.p4{
    background-image: url(../../public/img/coed-1-705x515.jpg);
}

.carousel{
    @apply w-full max-w-full
}

.carousel-wrapper{
    @apply block max-w-full max-h-[50rem] overflow-hidden mb-3
}

.peeweeheader{
   @apply bg-[url('../../public/img/dl/header_peewee.jpg')];
}

.juniorheader{
    @apply bg-[url('../../public/img/dl/header_juniors.jpg')]
}

.seniorheader{
    @apply bg-[url('../../public/img/dl/sw-2-705x247.jpg')]
}


.peeweeheader .special-heading{
    @apply text-5xl text-white
}

.whatwedo p {
    @apply font-bold text-xl
}


/* TRININGSZEITEN */
.training, .privacypolicy {
    @apply bg-white text-black mb-5 py-10
}

.training a, .privacypolicy a{
    @apply text-green-500
}

.privacypolicy h1{
    @apply font-bold text-5xl my-10 text-green-500
}

.privacypolicy h2{
    @apply font-bold text-2xl my-2 text-green-500
}




.zoomable {
    transition: all 0.7s;
    overflow: hidden;
    cursor:pointer;
}

.zoomable:hover{
    transform: scale(1.05,1.05);
}


.juniorpic{
    @apply object-fill h-[100%] w-full m-1
}

input[type="text"], input[type="email"], textarea{
    @apply border-2 border-white bg-slate-400 p-5 bg-opacity-0 placeholder-gray-200 focus:border-white focus:ring-0 
}

.btn{
    @apply px-20 py-5 font-bold
} 


.btn-contact{
    @apply w-full py-5 px-10 bg-green-500 mt-4 block text-center
}

.btn-submit{
    @apply text-white border-2 border-white bg-slate-400 bg-opacity-0 placeholder-gray-200
}

.btn-submit:hover{
    @apply bg-green-500 text-black 
}


